# Laravel storage and vendor
/vendor
/node_modules
#/public/build
/public/hot

# Ignorar archivos dentro de public/storage pero mantener la carpeta
/public/storage/*
!public/storage/.gitkeep

# Ignorar todo en storage, excepto las subcarpetas necesarias
/storage/*
!storage/app/
!storage/framework/
!storage/framework/cache/
!storage/framework/sessions/
!storage/framework/views/
!storage/logs/
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep

# Archivos claves
/storage/*.key
/storage/pail

# Bootstrap
bootstrap/cache/*
!bootstrap/cache/.gitkeep

# Archivos de entorno
.env
.env.backup
.env.production
/auth.json

# Archivos temporales
/.phpunit.cache
.phpunit.result.cache
.phpactor.json
npm-debug.log
yarn-error.log

# Archivos del sistema y configuración de IDEs
Homestead.json
Homestead.yaml
/.idea
/.vscode
/.fleet
/.zed
/.nova
.DS_Store
Thumbs.db
